extends layout

block css
	link(rel='stylesheet', href='/stylesheets/index.css')

block content
	header
	.container-fluid
		.row
			.col-xs-12.navi
				.col-xs-6
					.row
						div.intro My Name is Terry. I am a 4th year Engineering student from University of Waterloo. Applying technologies to make people's life easy is what I desire. My objective is to develop useful application with technical competence and practical design.
				.col-xs-6.manu
					.row
						a(href='http://blog.terrychen.me') Blog
					.row
						a(href='/resume') Resume
					.row.contact
						a(href='/contact') Contact
