doctype html
html.no-js
	head
		title Terry Chen
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', media='screen')
		link(rel='stylesheet', href='/font-awesome-4.0.3/css/font-awesome.min.css')
		block css
		script(type='text/javascript', src='/javascripts/modernizr.min.js')
	body
		block content
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='/javascripts/bootstrap.min.js')
		block  js